:root{
  --primary-white:#ffffff;
    --headline-color: #212121;
    --accent-color:#2196F3;
    --second-background:#2F303A;
    --black-logo-color:#000000;
    --timing-function:cubic-bezier(0.4, 0, 0.2, 1);
    --main-text-color: #757575;
    --input-border-color:rgba(33, 33, 33, 0.2);
    --button-hover-color:#188CE8;
    --icon-fill-color:#AFB1B8;
  
  }